{% extends 'base.html' %}

{% block title %}Book List{% endblock title %}

{% block content %}
    <h1 class="d-flex justify-content-left">Book List</h1>
    <form method="post" action="{% url 'books:book_search' %}">
        {% csrf_token %}
        <input type="text" name="query" placeholder="검색어를 입력하세요">
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for book in books %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        {{ book.author }}
                    </h6>
                    <p class="card-text">{{ book.publisher }}</p>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}
