{% extends 'base.html' %}

{% block title %}{{ request.user.name }} rental list{% endblock title %}

{% block content %}
    <h1 class="d-flex justify-content-left">My rental list</h1>
    <ul>
        {% if rentals %}
            {% for rental in rentals %}
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'books:book_detail' rental.book.id %}">{{ rental.book.title }}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            {{ rental.book.author }}
                        </h6>
                        <p class="card-text">
                            {{ rental.book.publisher|linebreaks }}
                            Rental Date: {{ rental.rental_date }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <li>No rentals</li>
        {% endif %}
    </ul>
{% endblock content %}